= s.input :sex, as: :radio_buttons
= s.input :birthday, as: :date_picker
= s.input :location
= s.input :info, as: :text, input_html: { class: "input-xxlarge", rows: 5 }
= s.input :site
= s.input :fb_link
= s.input :tw_link
= s.input :vk_link