<p>Новое сообщени с сайта <%= link_to 'BitFun.ru', root_url %>!</p>

<p>Сообщение:</p>

<p>
Имя: <strong><%= @contact.name %></strong><br />
Email: <strong><%= @contact.email %></strong><br />
</p>

<p><%= simple_format @contact.message %></p>