.__error
  .error-500
    .error-inner
      .error-text Сейчас BitFun испытывает некие трудности! В скором времени ситуация должна разрешится. <a href="mailto:help@bitfun.ru">Сообщите администрации</a> о случившемся, чтобы ускорить процесс.