<table class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Posted</th>
    <th>By</th>
  </tr>
  </thead>
  <tbody>
  <% funs.each do |fun| %>
      <tr>
        <td><%= link_to fun.name, fun %></td>
        <td><%= time_ago_in_words fun.created_at %> ago</td>
        <td><%= link_to fun.user.login, fun.user %></td>
      </tr>
  <% end %>
  </tbody>

</table>

<%= will_paginate funs %>