<div class="span11">
<h2>Funs</h2>
  <%= render "sorting" %>
<div id="funs_list">
  <%= render "list", funs: @funs, fun_partial: view_partial %>
</div>
  <% if can? :create, Fun %>
      <%= link_to 'New fun', new_fun_path, class: 'btn btn-primary' %>
  <% end %>
</div>
<% unless params[:query].nil? %>
    <script type="text/javascript">
      $(function(){
        $('#tags').tagit("add", "<%= [params[:query]].flatten.join(',')%>");
      });
    </script>
<% end %>