<div class="span11">
<h2>Feed</h2>
  <%= render "sorting" %>
  <%= render "list", funs: @funs, fun_partial: :list_item %>
  <% if can? :create, Fun %>
      <%= link_to 'New fun', new_fun_path, class: 'btn btn-primary' %>
  <% end %>
</div>
<% unless params[:query].nil? %>
    <script type="text/javascript">
      $(function(){
        $('#tags').tagit("add", "<%= get_string_from_query params[:query]%>");
      });
    </script>
<% end %>