.filter_time{
	.dd-container {
		@include white-box-select();
		@include text-shadow(1px 1px 0px #E2E2E2);
		@include ddSlick_width(180px);
		border-bottom: 1px solid #e2e2e2;
		float: left;
		position: relative;
		height: 49px;
		color: #444444;
		font-size: 13px;

		.dd-selected{
			height: 45px;
			color: #707070;
			padding: 0 0 0 18px;
			line-height: 45px;
			position: relative;
			.dd-selected-text{
				height: 49px;
				color: #707070;
				font-weight: bold;
				position: relative;
				line-height: 45px;
				padding-right: 40px;
				&:hover{cursor: pointer;}
			}
			&:after {
				background: asset_url("select-dropdown-icons.png", image) no-repeat left -28px;
				height: 14px;
				width: 8px;
				content: "";
				position: absolute;
				right: 18px;
				top: 50%;
				margin-top: -7px;
			}
		}
		.dd-options{
			margin-top: 2px;
			margin-left: 0;
			@include white-box-select(true);
			.dd-option{
				padding:10px 10px 10px 18px;
				display:block;
				border-bottom:solid 1px #ddd;
				overflow:hidden;
				text-decoration:none;
				color:#333;
				cursor:pointer;
			}
			label{margin-bottom: 0;}
		}
	}
	float: left;
	margin-left: 20px;
	font-size: 13px;
	color: #707070;
	text-transform: uppercase;

	.filter_icon{
		@include linear-gradient(top, #FFC65C, #fd9727);
		@include box-shadow(0 0 0 1px #DE7F1A inset, 0 1px 2px 0 #c2c2c2);
		float: left;
		padding: 12px 18px 12px;
		> span {
			background: asset_url("select-dropdown-icons.png", image) left top;
			display: block;
			height: 26px;
			width: 26px;
		}
	}
}

.rating-sort{
	.dd-container {
		position: relative;
		color: #777777;
		font-size: 13px;
		.dd-selected{
			color: #707070;
			padding: 0 0 0 3px;
			position: relative;
			height: 26px;
			line-height: 26px;
			.dd-selected-text{
				padding-right: 20px;
				line-height: 26px;
				&:hover{cursor: pointer;}
			}
		}
		.dd-pointer{
			height: 26px;
			width: 28px;
			position: absolute;
			right: 0;
			top: 50%;
			margin-top: -14px;
			z-index: 200;
			background: asset_url("dropdown-arrow-2.png", image) no-repeat -28px 0;

			&.dd-pointer-up{
				background-color: #ffffff;
				@include border-radius(3px 3px 0 0 );
				@include box-shadow(0px -2px 4px #c9c9c9,0px 2px 2px 0 #fff);
				//@include box-shadow(0 -1px 2px 0 #c9c9c9);
			}
		}
		.dd-options{
			font-size: 11px;
			margin-left: 0px;
			//margin-top: -5px;
			background-color: #ffffff;
			z-index: 10;
			@include box-shadow(0 0 4px 0#c9c9c9);
			@include border-radius(6px 0 6px 6px);
			.dd-option{
				padding:5px 4px 5px 8px;
				display:block;
				overflow:hidden;
				text-decoration:none;
				color:#333;
				cursor:pointer;
				border-bottom: 1px solid #D8D8D8;
			}
		}
		label{margin-bottom: 0;}
		@include ddSlick_width(120px);
	}

}

.dropdown-menu {
	font-size: 14px;
	line-height: 20px;
	color: #333333;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	background-color: #ffffff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, 0.2);
	*border-right-width: 2px;
	*border-bottom-width: 2px;
	@include border-radius(6px);
	@include box-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	.table-condensed th,  .table-condensed td {
		padding: 4px 5px;
	}
}