.clearfix {	clear: both;	width: 100%;	@include clearfix();}
.pull-left {float: left;}
.pull-right {float: right;}
.odd {background: #f3f3f4;
	&:hover {background: #f1f1f3;	}
}

.even {	background: #f5f5f6;
	&:hover {background: #f1f1f3;}
}
.text-left   {text-align: left}
.text-center {text-align: center}
.text-right  {text-align: right}
.vertical-space-sm {margin-top: 5px; margin-bottom: 5px;}
.vertical-space {margin-top: 10px; margin-bottom: 10px;}
.input-block-level {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}