// ddSlick
// -------

.filter_time{
	.dd-container {
		@include white-box-select();
		@include border-radius(4px);
		border: 1px solid #CCC;
		float: left;
		position: relative;
		height: 45px;
		color: #444444;
		font-size: 14px;


		.dd-selected{
			height: 45px;
			color: #707070;
			padding: 0 0 0 18px;
			line-height: 45px;
			position: relative;
			.dd-selected-text{
				line-height: 45px;
				padding-right: 40px;
				&:hover{cursor: pointer;}
			}
			&:after {
				background: asset_url("select-dropdown-icons.png", image) no-repeat left -28px;
				height: 14px;
				width: 8px;
				content: "";
				position: absolute;
				right: 18px;
				top: 50%;
				margin-top: -7px;
			}
		}
		.dd-options{
			margin-left: -1px;
			margin-top: -3px;
			border: 1px solid #ccc;
			border-top: 0 none;
			.dd-option{
			padding:10px 10px 10px 18px;
			display:block;
			border-bottom:solid 1px #ddd;
			overflow:hidden;
			text-decoration:none;
			color:#333;
			cursor:pointer;
			}
			label{margin-bottom: 0;}
		}
		@include ddSlick_width();


	}
}

.rating-sort{
	.dd-container {
		position: relative;
		color: #777777;
		font-size: 13px;
		.dd-selected{
			color: #707070;
			padding: 0 0 0 3px;
			position: relative;
			height: 26px;
			line-height: 26px;
			.dd-selected-text{
				padding-right: 20px;
				line-height: 26px;
				&:hover{cursor: pointer;}
			}
		}
		.dd-pointer{
			height: 26px;
			width: 28px;
			position: absolute;
			right: 0;
			top: 50%;
			margin-top: -14px;
			z-index: 200;
			background: asset_url("dropdown-arrow-2.png", image) no-repeat -28px 0;

			//&.dd-pointer-down{background: asset_url("dropdown-arrow-2.png", image) no-repeat -28px 0;}
			&.dd-pointer-up{
				background-color: #ffffff;
				@include border-radius(3px 3px 0 0 );
				@include box-shadow(0px -2px 4px #c9c9c9,0px 2px 2px 0 #fff);
				//@include box-shadow(0 -1px 2px 0 #c9c9c9);
			}
		}
		.dd-options{
			font-size: 11px;
			margin-left: 0px;
			//margin-top: -5px;
			background-color: #ffffff;
			z-index: 10;
			@include box-shadow(0 0 4px 0#c9c9c9);
			@include border-radius(6px 0 6px 6px);
			.dd-option{
				padding:5px 4px 5px 8px;
				display:block;
				overflow:hidden;
				text-decoration:none;
				color:#333;
				cursor:pointer;
				border-bottom: 1px solid #D8D8D8;
			}
		}
		label{margin-bottom: 0;}
		@include ddSlick_width(120px);
	}

}


// TOOLTIP
// -------

.tooltipster-default {
	border-radius: 5px;
	border: 2px solid #000;
	background: #fdfdfd;
	color: #fff;
	.tooltipster-content {
		font-family: Arial, sans-serif;
		font-size: 14px;
		line-height: 16px;
		padding: 8px 10px;
		overflow: hidden;
	}
}
.tooltipster-arrow .tooltipster-arrow-border {
	/* border-color: ... !important; */
}
.tooltipster-icon {
	cursor: help;
	margin-left: 4px;
}
.tooltipster-base {
	padding: 0;
	font-size: 0;
	line-height: 0;
	position: absolute;
	z-index: 9999999;
	pointer-events: none;
	width: auto;
	overflow: visible;
	.tooltipster-content {
		overflow: hidden;
	}
}

.tooltipster-arrow {
	display: block;
	text-align: center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.tooltipster-arrow span, .tooltipster-arrow-border {
	display: block;
	width: 0;
	height: 0;
	position: absolute;
}
.tooltipster-arrow-top span, .tooltipster-arrow-top-right span, .tooltipster-arrow-top-left span {
	border-left: 8px solid transparent !important;
	border-right: 8px solid transparent !important;
	border-top: 8px solid;
	bottom: -8px;
}
.tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-top-left .tooltipster-arrow-border {
	border-left: 9px solid transparent !important;
	border-right: 9px solid transparent !important;
	border-top: 9px solid;
	bottom: -8px;
}

.tooltipster-arrow-bottom span, .tooltipster-arrow-bottom-right span, .tooltipster-arrow-bottom-left span {
	border-left: 8px solid transparent !important;
	border-right: 8px solid transparent !important;
	border-bottom: 8px solid;
	top: -8px;
}
.tooltipster-arrow-bottom .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
	border-left: 9px solid transparent !important;
	border-right: 9px solid transparent !important;
	border-bottom: 9px solid;
	top: -8px;
}
.tooltipster-arrow-top span, .tooltipster-arrow-top .tooltipster-arrow-border, .tooltipster-arrow-bottom span, .tooltipster-arrow-bottom .tooltipster-arrow-border {
	left: 0;
	right: 0;
	margin: 0 auto;
}
.tooltipster-arrow-top-left span, .tooltipster-arrow-bottom-left span {
	left: 6px;
}
.tooltipster-arrow-top-left .tooltipster-arrow-border, .tooltipster-arrow-bottom-left .tooltipster-arrow-border {
	left: 5px;
}
.tooltipster-arrow-top-right span,  .tooltipster-arrow-bottom-right span {
	right: 6px;
}
.tooltipster-arrow-top-right .tooltipster-arrow-border, .tooltipster-arrow-bottom-right .tooltipster-arrow-border {
	right: 5px;
}
.tooltipster-arrow-left span, .tooltipster-arrow-left .tooltipster-arrow-border {
	border-top: 8px solid transparent !important;
	border-bottom: 8px solid transparent !important;
	border-left: 8px solid;
	top: 50%;
	margin-top: -7px;
	right: -8px;
}
.tooltipster-arrow-left .tooltipster-arrow-border {
	border-top: 9px solid transparent !important;
	border-bottom: 9px solid transparent !important;
	border-left: 9px solid;
	margin-top: -8px;
}
.tooltipster-arrow-right span, .tooltipster-arrow-right .tooltipster-arrow-border {
	border-top: 8px solid transparent !important;
	border-bottom: 8px solid transparent !important;
	border-right: 8px solid;
	top: 50%;
	margin-top: -7px;
	left: -8px;
}
.tooltipster-arrow-right .tooltipster-arrow-border {
	border-top: 9px solid transparent !important;
	border-bottom: 9px solid transparent !important;
	border-right: 9px solid;
	margin-top: -8px;
}


/* Some CSS magic for the awesome animations - feel free to make your own custom animations and reference it in your Tooltipster settings! */

.tooltipster-fade {
	opacity: 0;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	-ms-transition-property: opacity;
	transition-property: opacity;
}
.tooltipster-fade-show {
	opacity: 1;
}

.tooltipster-grow {
	-webkit-transform: scale(0,0);
	-moz-transform: scale(0,0);
	-o-transform: scale(0,0);
	-ms-transform: scale(0,0);
	transform: scale(0,0);
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform;
	-webkit-backface-visibility: hidden;
}
.tooltipster-grow-show {
	-webkit-transform: scale(1,1);
	-moz-transform: scale(1,1);
	-o-transform: scale(1,1);
	-ms-transform: scale(1,1);
	transform: scale(1,1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}

.tooltipster-swing {
	opacity: 0;
	-webkit-transform: rotateZ(4deg);
	-moz-transform: rotateZ(4deg);
	-o-transform: rotateZ(4deg);
	-ms-transform: rotateZ(4deg);
	transform: rotateZ(4deg);
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform;
	-o-transition-property: -o-transform;
	-ms-transition-property: -ms-transform;
	transition-property: transform;
}
.tooltipster-swing-show {
	opacity: 1;
	-webkit-transform: rotateZ(0deg);
	-moz-transform: rotateZ(0deg);
	-o-transform: rotateZ(0deg);
	-ms-transform: rotateZ(0deg);
	transform: rotateZ(0deg);
	-webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 1);
	-webkit-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
	-moz-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
	-ms-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
	-o-transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
	transition-timing-function: cubic-bezier(0.230, 0.635, 0.495, 2.4);
}

.tooltipster-fall {
	top: 0;
	-webkit-transition-property: top;
	-moz-transition-property: top;
	-o-transition-property: top;
	-ms-transition-property: top;
	transition-property: top;
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}
.tooltipster-fall-show {
}
.tooltipster-fall.tooltipster-dying {
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	-ms-transition-property: all;
	transition-property: all;
	top: 0px !important;
	opacity: 0;
}

.tooltipster-slide {
	left: -40px;
	-webkit-transition-property: left;
	-moz-transition-property: left;
	-o-transition-property: left;
	-ms-transition-property: left;
	transition-property: left;
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
	-webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	-moz-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	-ms-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	-o-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.15);
}
.tooltipster-slide.tooltipster-slide-show {
}
.tooltipster-slide.tooltipster-dying {
	-webkit-transition-property: all;
	-moz-transition-property: all;
	-o-transition-property: all;
	-ms-transition-property: all;
	transition-property: all;
	left: 0px !important;
	opacity: 0;
}

// tagIt
// -------

ul.tagit {
    padding: 1px 5px;
    overflow: auto;
    margin-left: inherit;
    margin-right: inherit;
	li {
		display: block;
		float: left;
		margin-right: 5px;
		position: relative;

		&.tagit-choice {
			border-bottom-left-radius: 6px;
			border-top-right-radius: 6px;
			padding: 2px 15px 3px 4px;
			cursor: default;
		}
	}

	& .tagit-choice {
	    position: relative;
	    line-height: inherit;
	}
	&.tagit-choice.selected {
		background: #ff3019; /* old browsers */
		background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* firefox */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff3019), color-stop(100%, #cf0404)); /* webkit */
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ff3019', endColorstr = '#cf0404', GradientType = 0); /* ie */
		border-color: #f76464;
	}
	.tagit-choice input {
		display: block;
		float: left;
		margin: 0 5px 0 0;
		padding-top: 2px;
		padding-bottom: 2px;
		@include box-shadow(none);
		&:focus{
			border: 0 none;
			@include box-shadow(none);
		}
	}

	.tagit-new  {
		margin-top: 5px;
		@include box-shadow(none);
		.tagit-input:focus{
			border: 0 none;
			background: #ffffff;
			@include box-shadow(none);
		}
	}

}


.ui-autocomplete{
	//min-width: 160px !important;
	//max-width: 240px;
	margin-top: 5px;
	position: absolute;
	cursor: default;
	@include white-box-select(true);
	@include border-radius(6px);
	padding: 8px;
	display:block;
	float: left;
	.ui-menu-item{
		font-size: 14px;
		line-height: 18px;
		color: #777777;
		zoom: 1;
		float: left;
		clear: left;
		width: 100%;
		&:hover{color: #aeaeae;}
		a {
			text-decoration:none;
			display:block;
			padding:.2em .4em;
			line-height:1.5;
			zoom:1;
			border-bottom: 1px solid #eee;
		}
		&:last-child a{border: 0 none;}
	}
}




ul.tagit.ui-sortable li.tagit-choice a.ui-icon.ui-icon-grip-dotted-vertical{
    cursor: move;
}


ul.tagit li.tagit-new {
    padding: 2px 4px 3px;
    padding: 2px 4px 1px;
    padding: 2px 4px 1px 0;
}

ul.tagit li.tagit-choice a.tagit-close {
    color: #ffffff;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    outline: medium none;
    padding: 3px 0 2px 3px;
    text-decoration: none;
    position: absolute;
    display: block;
    top: 0;
    right: 3px;
    text-shadow: -1px -1px 0 rgba(150, 150, 0, 0.7);
}

ul.tagit li.tagit-choice a.tagit-close:hover {
    color: #5d5d5d;
}

ul.tagit div.tagit-label.hidden {
	display: none;
}

ul.tagit input.tagit-edit {
	margin: 0px 0px 0px 2px;
	border: none;
	line-height: 16px;
}

ul.tagit input[type="text"] {
    -moz-box-sizing: border-box;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;
    width: inherit !important;
    outline: none;
}

.tagit-hiddenSelect {
    display:none;
}

.dropdown-menu {

  font-size: 14px;
  line-height: 20px;
  color: #333333;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
 @include border-radius(6px);
 @include box-shadow(0 5px 10px rgba(0, 0, 0, 0.2));
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  .table-condensed th,  .table-condensed td {
    padding: 4px 5px;
  }
}