@import "bourbon";
@import 'inc/_reset.scss';
@import 'inc/_config.css.scss';
@import 'inc/mixins.scss';
@import 'inc/_helpers.css.scss';
@import 'inc/_forms.css.scss';
@import 'inc/_nav.css.scss';
@import 'inc/_switch.css.scss';
@import 'inc/_dropdown.css.scss';
@import 'inc/_tooltips.css.scss';
@import 'inc/_modals.css.scss';
@import 'inc/_tagit.css.scss';
@import 'inc/photo_frames.css.scss';

html, body {
	font-family: $baseFontFamily;
	background: asset_url("page-bg.png", image) left top;
	width: 100%;
}

.btn-orange, .btn-orange:focus {
    @include btn-orange(35px);
}

.btn-close-sm {
  background: asset_url('btn-fun-icons.png', image) no-repeat -22px 0;
  height: 21px;
  width: 21px;
  &:hover {
    background-position: 0 0;
    cursor: pointer;
  }
}

.page {
	margin: $page_margin_top auto 0;
	width: $page_width;
}

.main_panel {
	position: fixed;
	background: asset_url("main-panel-bg.png", images) repeat-x left top;
	padding-top: 2px;
	top: 0;
	left: 0;
	width: 100%;
	z-index: $zindexFixedNavbar;
	.user_bar_wrapper {
		height: 57px;
		width: 100%;
	}

	.user_bar {
		width: $page_width;
		padding-bottom: 3px;
		margin: 0 auto 0;
		height: 100%;
		.logo {
			padding-top: 7px;
			float: left;
			padding-right: 25px;
			a {
				width: 162px;
				height: 38px;
				display: block;
				background: asset_url('logo.png', image) no-repeat 0 0;
				@include sassy-hover();
				&:hover {
					background: asset_url("logo_hover.png", image) no-repeat 0 0;
				}
			}
		}

		a {
			color: #d7d9d7;
			font-size: 13px;
		}

		.items_wrapper {
			@include inline-block;
			background: asset_url("main-panel-sprite.png", images) repeat-x 0 0;
			padding: 0 1px;
			height: 51px;
			position: relative;
			.item_outer {
				@include inline-block;
				background: asset_url("main-panel-sprite.png", images) repeat-x 0 -51px;
				padding-right: 1px;
				&:first-child {
					padding-left: 1px;
				}
			}
			.item {
				@include inline-block;
				background: asset_url("main-panel-sprite.png", images) repeat-x 0 -102px;
				height: 51px;
				float: left;
				padding: 0 1px;
				overflow: hidden;

				.item_link {
					background: asset_url("main-panel-sprite.png", images) repeat-x 0 -153px;
					display: table-cell;
					height: 51px;
					padding: 0 15px;
					text-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
					vertical-align: middle;
					&:hover {
						background: asset_url("main-panel-sprite.png", images) repeat-x 0 -204px;
						color: #fdad32;
					}
				}

				&.active .item_link {
					background: asset_url("main-panel-sprite.png", images) repeat-x 0 -255px;
					text-shadow: 0px 0px 50px rgba(253, 244, 24, 1), 1px 1px 2px rgba(0, 0, 0, .5);
					color: #fdad32;
				}

				.span_cell {
					background: {
						image: asset_url("header-icons.png", image);
						repeat: no-repeat;
						position: left top;
					}
					color: #d7d9d7;
					font-size: 13px;
					@include text-shadow(0 0 18px #F3F3F3);
					padding-left: 30px;
					line-height: 30px;
					height: 30px;
					@include inline-block;
					&:hover {
						@include text-shadow(none);
					}
				}
			}
			.followers {
				@include header-icons(0);
				margin-right: 0;
			}
			.settings {
				@include header-icons(-62);
				position: relative;
				overflow: visible;
			}
			.search {
				@include header-icons(-120);
			}
			.users {
				@include header-icons(-480);
			}
			.add_fun {
				@include header-icons(-180);
			}
			.login {
				@include header-icons(-240);
			}
			.logout {
				@include header-icons(-300);
			}
			.registration {
				@include header-icons(-360);
				&:hover .span_cell{background-position: -1px -390px;}
			}
			.user {
				max-width: 200px;
				.span_cell {
					background: none;
					display: block;
					margin-left: 35px;
					line-height: 15px;
					padding-left: 10px;
					height: 30px;
					padding-top: 6px;
					span {
						display: table-cell;
						vertical-align: middle;
						height: 26px;
					}
				}
				.avatar_wrapper {
					background-color: #f0f0f0;
					border: 2px solid #222222;
					@include box-shadow(0 1px rgba(255, 255, 255, .25));
					border-radius: 50%;
					float: left;
				}
				img {
					height: 30px;
					width: 30px;
					border-radius: 50%;
					vertical-align: middle;
				}
			}

		}
		.user_panel {
			float: right;
		}
	}

	.dropdown_search {
		background: #2C2B3A;
		position: relative;
		top: -5px;
		display: none;
		width: 100%;
		.search_block_wrapper {
			width: $page_width;
			margin: 0 auto;
			padding: 5px 0;
			position: relative;
			.search_block {
				@include inline-block();
				width: 100%;
			}
			input {
				margin-bottom: 0;
				height: auto;
			}
			.controls {
				@include inline-block();
				position: relative;
				float: left;
				.search_by_tags {
					@include border-radius(4px);
					background: #fff;
					width: 796px;
					color: #444444;
					font-size: 14px;
					font-family: $baseFontFamily;
					padding: 0 30px 0 36px;
					line-height: 18px;
					min-height: 40px;
					&:focus {
						background-position: left -148px;
						outline: none;
					}
					input {
						height: 30px;
						line-height: 24px;
					}
					.ui-helper-hidden-accessible {
						display: none;
					}
					.tagit-choice {
						margin-top: 7px;
						background: #FDBD5B;
						color: #fff;
						font-weight: bold;
						@include text-shadow(0 1px 1px rgba(0, 0, 0, 0.6));
						border: 1px solid #F5AD3F;
						&.selected {
							border: 1px solid #fd4317;
							background: #fd4317;
						}
					}
					.tagit-input {
						@include box-shadow(none);
					}
				}

				.icon-search {
					background: asset_url('header-icons.png', image) no-repeat left -150px;
					position: absolute;
					z-index: 10;
					height: 30px;
					width: 30px;
					left: 3px;
					top: 5px;
				}

				.icon-close {
					background: {
						image: asset_url('header-icons.png', image);
						repeat: no-repeat;
						position: left -418px;
					}
					position: absolute;
					z-index: 10;
					height: 30px;
					width: 30px;
					right: 10px;
					top: 3px;
					&:hover {
						background-position: left -449px;
						cursor: pointer;
					}
				}
			}

			.btn {
				@include btn-violet(40px);
				float: right;
			}
		}
	}
	.dropdown_profile {
		display: none;
		background: #2c2b3a;
		box-shadow: 0 3px 8px -1px #dbdbdb;
		position: absolute;
		right: 0;
		top: 52px;
		padding: 3px 0;
		border-radius: 0 0 10px 10px;
		min-width: 180px;
		line-height: 15px;
		a {
			color: #aaaaaa;
			font-size: 12px;
			&:hover {
				color: #ffffff;
			}
			display: block;
			margin: 10px 0;
		}
		li {
			padding: 0 13px;
		}
		.top {
			border-bottom: 1px solid #1d1c26;
		}
		.down {
			border-top: 1px solid #323140;
		}

	}
}

.container {
	@include inline-block;
	padding-bottom: 10px;
	width: 100%;

	.content {
		@include inline-block;
		width: 100%;
		.follow_parent a {display: none;}
	}

	.sidebar {
		@include inline-block;
		.sidebar_topics {
			@include underlined_titles;
			margin-bottom: 18px;
			font-weight: bold;
		}
		.social_block {margin-bottom: 30px;}
	}

	&.main_layout {
		.content {
			width: 584px;
			float: left;
		}
		.sidebar {
			float: right;
			width: 360px;
			@include inline-block;
		}
		&.grid {
			.content {
				width: 944px;
				margin: 0 auto;
				float: none;
				display: block;
			}
		}
	}

	&.feed_layout {
		width: 860px;
		margin: 0 auto;
		display: block;
		.content {
			width: 584px;
			float: right;
		}
		.sticky_profile {
			float: left;
			width: 244px;
			padding-right: 20px;
			@include inline-block;
		}
		&.grid {
			width: 964px;
			.content {
				width: 700px;
				margin: 0 auto;
				display: block;
			}
		}
	}

	&.post_layout {
		.content {
			float: left;
			width: 700px;
		}
		.sidebar {
			float: right;
			width: 242px;
		}
	}
	&.page-layout {

		color: #616161;
		text-align: justify;
		line-height: 25px;
		text-indent: 25px;
		font-size: 16px;
		h1 {
			font-size: 24px;
			border-bottom: 1px solid rgba(237, 236, 238, 0.9);
			padding: 8px 0 14px;
			margin-bottom: 10px;
			@include box-shadow(0 1px rgba(255, 255, 255, .73));
			@include text-shadow(1px 1px #fff);
			text-align: left;
		}
		p {margin-bottom: 10px;}

		ul {
			margin-bottom: 10px;
			li {
				strong {
					color: #6d6b93;
					display: inline-block;
					margin: 15px 0 5px 0;
				}
				a {
					color: #0072BC;
					text-decoration: underline;
					&:hover {
						text-decoration: none;
					}
				}
			}
		}
		ul.registration {
			li {
				list-style-type: square;
				margin-left: 45px;
			}
		}
		textarea {height: 150px;}
	}
}

.footer {
	@include inline-block;
	border-top: 1px solid #C5C5C5;
	padding-top: 16px;
	padding-bottom: 15px;
	width: 100%;
	font-size: 13px;
	color: #777777;
	line-height: 19px;
	a {color: #777777;text-decoration: underline;
		&:hover {text-decoration: none;}
	}
	.footer_logo a {
		background: asset_url("footer-logo.png", image) no-repeat left top;
		display: block;
		height: 53px;
		width: 80px;
		float: left;
		margin-right: 14px;
	}
	.footer_box {overflow: hidden;}
	ul {padding-top: 4px;}
	li {@include inline-block; padding-right: 10px;}
}

.date_block {
  background: asset_url("timer-icon.png", image) no-repeat top left;
  padding-left: 15px;
}

.post_frame {
	@include inline-block;
	margin-bottom: 20px;
	position: relative;
	.list_item {
		.post_object {
			p {
				line-height: 23px;
				font-size: 14px;
			}
		}
	}
	.left_side, .post_box {
		float: left;
	}
	.left_side {
		padding-right: 12px;
		width: 70px;
	}
	.post_box {
		@include border-radius(5px);
		@include box-shadow(0 1px 3px 0 rgba(91, 89, 133, .25));
		background-color: #fff;
		width: 500px;
	}
	.post_share {
		margin-top: 20px;
		text-align: center;
		.share_link {
			@include linear-gradient(top, #FFC65C, #fd9727);
			@include box-shadow(0 0 0 1px #DE7F1A inset, 0 0 2px 0 #a2a2a2);
			@include border-radius(3px);
			@include text-shadow(0 1px 1px rgba(0, 0, 0, .6));
			@include inline-block();
			border-radius: 3px;
			font-size: 13px;
			font-weight: bold;
			color: #f7f7f7;
			padding: 5px 0 7px 0;
			width: 70px;
			position: relative;
			z-index: 100;
			> span {
				@include inline-block();
				height: 17px;
				line-height: 17px;
				padding-left: 19px;
				background: asset_url("share-icons.png", images) no-repeat left top;
				&.show {
					background: asset_url("share-icons.png", images) no-repeat left bottom;
				}
			}
		}

		ul {
			@include border-radius(5px);
			@include inline-block();
			@include box-shadow(0 1px 2px #fff, inset 0 1px 1px rgba(0, 0, 0, .15));
			background-color: #fdfdfd;
			border: solid 1px #d1d1da;
			margin-top: -7px;
			padding: 10px 6px 6px;
			text-align: right;
			width: 56px;
			> li {
				padding: 3px 0 0;
				float: left;
				width: 100%;
				text-align: center;
			}

			img {display: block;}
		}

	}
	.tags_block {
		color: #aaaaaa;
		.tags {
			background: asset_url("tags-icon.png", image) no-repeat top left;
			padding-left: 18px;
			font-size: 12px;
			color: #aaaaaa;
			line-height: 14px;
			font-weight: normal;
		}
		a {
			color: #aaaaaa;
			@include sassy-hover();
			&:hover {
				color: #777777;
				text-decoration: none;
			}
		}
	}
	.post_info {
		padding: 13px 17px 10px;
		font-size: 13px;
		overflow: hidden;
		a:hover {
			text-decoration: underline;
		}
		.title {
			color: #444444;
			line-height: 19px;
			padding-bottom: 5px;
			a {color: #444444;}
		}
		.poster {
			color: #aaaaaa;
			padding-bottom: 5px;
			a {
				color: #6d6b93;
				padding-right: 5px;
			}
			.repost {
				background: asset_url('post-nav-icons.png', image);
				padding-left: 20px;
				background-position: 23px -31px;
			}
		}
		.date_block {
			margin-left: 3px;
		}
	}
	.post_object {
		overflow: hidden;
		text-align: center;
		img {
			vertical-align: top;;
			margin-bottom: -24px;
		}
		a {
			@include inline-block();
			position: relative;
			&:after {
				content: '';
				position: absolute;
				left: 50%;
				top: 50%;
				height: 65px;
				width: 65px;
				margin-top: -32px;
				margin-left: -32px;
			}
			&.po-video:after {
				background: asset_url("material-spot-sprite.png", image) no-repeat left top;
			}

			&.po-gif:after {
				background: asset_url("material-spot-sprite.png", image) no-repeat right top;
			}
		}
		p {
			color: #616161;
			text-align: left;
			line-height: 25px;
			font-size: 16px;
			padding: 0px 17px 10px;
		}
	}
	.post_nav {
		@include border-radius(0 0 5px 5px);
		background: asset_url("post-navbar-bg.png", image) repeat-x 0 0px;
		position: relative;
		height: 50px;

		.item_wrapper {
			background: asset_url("post-navbar-bg.png", image) repeat-x right -100px;
			padding: 0 1px 1px;
			margin-right: -1px;
			position: relative;
			float: left;
			height: 49px;

			.item {
				background: asset_url("post-navbar-bg.png", image) repeat-x 0 -50px;
				color: #979ba7;
				font-weight: bold;
				font-size: 13px;
				height: 50px;
				padding: 0 15px;
				display: table-cell;
				vertical-align: middle;
				position: relative;
				.name {
					@include text-shadow(0 1px rgba(255, 255, 255, .75));
				}
			}

			&:hover {
				background: asset_url("post-navbar-bg.png", image) repeat-x 0 -500px;
				.item {
					background: asset_url("post-navbar-bg.png", image) repeat-x 0 -450px;
				}
			}

			.icon {
				@include inline-block;
				vertical-align: middle;
				height: 26px;
				width: 26px;
				background-image: asset_url("post-nav-icons.png", image);
				background-repeat: no-repeat;
				margin-right: 8px;
			}

			&.disabled{
				&:hover{
					cursor: default;
					.item{
						background: asset_url("post-navbar-bg.png", image) repeat-x 0 -50px;
						cursor: default;
					}
				}
			}
		}

		.counter {
			@include inline-block;
			@include border-radius(8px);
			@include box-shadow(inset 0 2px 1px #f2f2f2);
			padding: 3px 10px;
			background-color: #fff;
			border: 1px solid #cccccc;
			font-size: 12px;
			color: #444444;
		}

		.like_box .icon {
			background-position: 0px 0px;
		}
		.more_box .icon {background-position: -96px 0;}
		.repost_box .icon {background-position: -32px 0px;}
		.comments_box .icon {background-position: -64px 0px;}
		.complain_box .icon {
			background-position: -128px 0px;
			height: 25px;
			width: 22px;
		}

		.active {
			background: asset_url("post-navbar-bg.png", image) repeat-x left -300px;
			.counter {
				@include border-radius(8px);
				@include box-shadow(inset 0 2px 1px #f2f2f2);
				background-color: #fff;
				border: solid 1px #fc8c1e;
			}
			.item {
				background: asset_url("post-navbar-bg.png", image) repeat-x left -250px;
				color: #ffffff;
				.name {
					@include text-shadow(0 1px 1px rgba(0, 0, 0, 0.6));
				}
			}
			&:hover {
				background: asset_url("post-navbar-bg.png", image) repeat-x left -650px;
				.item {
					background: asset_url("post-navbar-bg.png", image) repeat-x left -650px;
				}
				.counter {
					border: 1px solid #CCC;
				}
			}
		}

		.like_box.active .icon {
			background-position: 0px -27px;
		}
		.repost_box.active .icon {
			background-position: -32px -27px;
		}
		.comments_box.active .icon {
			background-position: -64px -27px;
		}
		.last_item.active {
			background: asset_url("post-navbar-bg.png", image) no-repeat left -300px;
			&:hover {
				background: asset_url("post-navbar-bg.png", image) no-repeat left -500px;
			}
		}
		.more_box.active {
			.item {
				color: #fff;
				@include text-shadow(0 1px 1px rgba(0, 0, 0, .6));
			}
			.icon {
				background-position: -96px -27px;
			}
		}

		.first_item {
			@include border-radius(0 0 0 6px);
			.item {
				position: relative;
				@include border-radius(0 0 0 5px);
			}
		}

		.last_item {
			float: right;
			@include border-radius(0 0 6px 0);
			margin-right: 0;
			background: asset_url("post-navbar-bg.png", image) repeat-x left -100px;
			.item {
				@include border-radius(0 0 5px 0);
			}
			&:hover {
				background: asset_url("post-navbar-bg.png", image) repeat-x left -500px;
			}
		}
	}

	&.post_card {
		@include border-radius(5px);
		@include box-shadow(0 1px 4px rgba(184, 183, 196, .25));
		float: left;
		width: 220px;
		margin: 0 0 20px 0;
		background-color: #fff;

		.post_info {
			@include border-radius(5px 5px 0 0);
			border: solid 1px rgba(221, 221, 221, 0.9);
			border-bottom: 0 none;
			padding-bottom: 5px;
		}
		.post_object {
			border-left: solid 1px rgba(221, 221, 221, 0.9);
			border-right: solid 1px rgba(221, 221, 221, 0.9);
			width: 218px;
			p {
				color: #616161;
				text-align: left;
				line-height: 20px;
				font-size: 13px;
				padding: 0px 17px 10px;
			}
			img{margin-bottom: 0;}
		}
		.photo_frame {
			float: left;
			padding-right: 10px;
			width: 36px;
			height: 36px;
			.photo_box {
				background-color: #fff;
				border: solid 3px #5b5985;
				@include box-shadow(0 1px 3px rgba(91, 89, 133, .25), inset 0 0 8px rgba(0, 0, 0, .15));
				height: 30px;
				width: 30px;
				img {
					height: 30px;
					width: 30px;
				}
			}
		}
		.poster {
			overflow: hidden;
		}
		.arrow {
			position: absolute;
			top: 0;
			left: 20px;
			$arrow: 5px;
			border-top: #{$arrow} solid #ffffff;
			border-left: $arrow solid transparent;
			border-right: $arrow solid transparent;

		}
		.post_object {
			position: relative;
		}
		.post_nav {
			.item {
				width: 68px;
				padding: 0 2px;
				text-align: center;
				.icon {
					margin-right: 3px;
				}
			}

			.counter {
				.slice {
					display: inline-block;
					overflow: hidden;
					max-width: 18px;
				}
				padding: 3px 8px;
				text-align: center;
				overflow: hidden;
				font-weight: normal;
				font-size: 11px;
			}
			.last_item {
				padding-left: 0;
			}
		}
		.date_block {
			width: 100%;
			margin-left: 0;
			display: block;
			margin-top: 4px;
			height: 14px;
		}
	}
	&:hover {
		a.btn-fun-delete {
			background: asset_url("btn-fun-icons.png", image) no-repeat -22px 0;
			height: 21px;
			width: 21px;
			position: absolute;
			top: -8px;
			right: -8px;
			z-index: 1001;
			&:hover {
				background: asset_url("btn-fun-icons.png", image) no-repeat 0 0;
				cursor: pointer;
			}
		}
	}
}

.tabs_box {
	.nav_tabs {
		li {
			@include inline-block;
			@include border-radius(4px 4px 0 0);
			background: #fdfdfd;
			border: 1px solid #eaeaee;
			margin-right: 3px;
			a {
				@include inline-block;
				padding: 13px 9px 11px;
				color: #aaaaaa;
				font-weight: bold;
				font-size: 14px;
			}
			span {
				display: block;
			}

		}

	}
	.tab_content {
		background-color: #fff;
		overflow: hidden;
	}
	.tab_pane {
		overflow: hidden;
		display: none;
		&.active {
			display: block;
		}
	}

}

.pagination {
	.pagination_hl {
		.pn_item {
			@include border-radius(2px);
			@include inline-block;
			background: asset_url("pagination-h50.png", image) repeat-x 0 -41px;
			border: 1px solid #b0b0b0;
			padding: 14px 17px;
			span {
				background-image: asset_url("pagination-h50.png", image);
				background-repeat: no-repeat;
				display: block;
				height: 20px;
				width: 13px;
			}
			&:hover {
				background: asset_url("pagination-h50.png", image) repeat-x 0 -89px;
			}
		}
		.next {
			span {
				background-position: -17px 0;
			}
			&:hover span {
				background-position: -17px -21px;
			}
			margin-left: 3px;
		}
		.prev {
			span {
				background-position: 0 -21px;
			}
			&:hover span {
				background-position: 0 0;
			}
		}
	}

	.pagination_vl {
		@include border-radius(2px);
		border: 1px solid #b0b0b0;
		height: 45px;
		background: asset_url("post-navbar-bg.png", image) repeat-x 0 -4px;

		.pn_item {
			float: left;
			width: 109px;
			height: 100%;
			text-align: center;
			position: relative;
			span {
				@include inline-block;
				background-image: asset_url("pagination-h50.png", image);
				background-repeat: no-repeat;
				height: 13px;
				width: 20px;
				margin-top: 13px;
			}
			&:hover {
				background: asset_url("post-navbar-bg.png", image) repeat-x 0 -454px;
			}
		}
		.top {
			span {
				background-position: 0 -139px;
			}
			&:hover span {
				background-position: 0 -177px;
			}
			&:after {
				position: absolute;
				width: 1px;
				height: 45px;
				background: asset_url("post-navbar-bg.png", image) repeat-x 0 -504px;
				content: '';
				right: -1px;
				top: 0;
			}
		}
		.btm {
			span {
				background-position: 0 -160px;
			}
			&:hover span {
				background-position: -1px -198px;
			}
			&:after {
				position: absolute;
				width: 1px;
				height: 45px;
				background: asset_url("post-navbar-bg.png", image) repeat-x 0 -504px;
				content: '';
				left: 0;
				top: 0;
			}
		}
	}
}

.topics_block {
	border-bottom: 1px solid #ededf0;
	padding-bottom: 18px;
	.title_page {
		color: #444444;
		font-size: 22px;
		line-height: 26px;
		font-weight: bold;
		min-height: 50px;
	}
	.title_help_block {
		color: #aaaaaa;
		font-size: 14px;
		font-weight: normal;
		line-height: 18px;
		padding-top: 3px;
	}
}

.info_block {
	@include inline-block();
	width: 100%;
	padding-bottom: 20px;
	.topic {
		@include underlined_titles();
		@include inline-block();
		width: 100%;
		font-weight: bold;
		margin-bottom: 16px;
	}
	.text {
		color: #aaaaaa;
		font-size: 13px;
		line-height: 16px;
	}
}

#loading {
	width: 100%;
	height: 150px;
	background: asset_url("loading.gif", images) no-repeat center;
}

.__error {
	background: #fefeff;
	position: fixed;
	left: 0;
	right: 0;
	top: -76px;
	bottom: 0;
	z-index: 1000;
	text-align: left;
	min-height: 100%;
	.error-inner {
		width: 964px;
		margin: 0 auto;
		position: relative;
		min-height: 100%;
	}
	.error-404 {
		background: #fefeff asset_url("404.jpg", image) no-repeat center 50px;
		position: relative;
		min-height: 100%;
		.error-text {
			background: asset_url("404-text.png", image) no-repeat 0 0;
			width: 522px;
			color: #8a888e;
			padding-top: 54px;
			top: 230px;
			margin-left: 240px;
			a {
				color: #0096bc;
				text-decoration: underline;;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	.error-500 {
		background: #ffffff asset_url("500.jpg", image) no-repeat center 53px;
		position: relative;
		min-height: 100%;
		.error-text {
			background: asset_url("500-text.png", image) no-repeat 0 0;
			color: #005997;
			margin: 0 auto;
			top: 170px;
			width: 507px;
			padding-top: 154px;
			text-align: center;
			text-shadow: 1px 0 #fff;
			a {
				color: #3A3A3A;
				text-decoration: underline;;
				&:hover {
					text-decoration: none;
				}
			}
		}
	}

	.error-text {
		position: relative;
		font-family: 'verdana';
		font-size: 13px;
		line-height: 16px;
	}

	.footer {
		text-align: left;
		border: 0 none;
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -400px;
		width: 400px;
	}
}

.__empty {
	background: asset_url("__empty.png", image) no-repeat center 0;
	text-align: center;
	padding-top: 110px;
	color: #aaaaaa;
	font-size: 13px;
	line-height: 18px;
	position: relative !important;
	a {
		color: #0072bc;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}

#ajax_loading {
	background: rgba(255, 255, 255, .45);
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 1000;
	text-align: center;
	.loading_wrapper {
		background: asset_url("__loading.gif", image) no-repeat center;
		display: inline-block;
		width: 144px;
		height: 144px;
		overflow: hidden;
		margin-top: -72px;
		position: relative;
		top: 50%;
		@include box-shadow(0 0 15px 2px rgba(182, 182, 182, .25));
		@include border-radius(50%);
	}

}

.remember_me {
	overflow: hidden;
	a {
		float: right;
		text-decoration: underline;
		color: white;
		&:hover {
			text-decoration: none;
		}
	}
}
#recover_pass {margin-top: 20px;}
#vk_like {clear: none !important;	float: left;}
.fb-like {float: left;	width: 130px;}

/* ---------- pages settings ---------- */

.main_layout {
	.soc_tabs {
		.nav_tabs {
			margin-bottom: -1px;
			li {
				span {
					background-image: asset_url("soc-icons_tabs.png", image);
					background-repeat: no-repeat;
					height: 28px;
					width: 1px;
					overflow: hidden;
					line-height: 28px;
					padding-left: 28px;
				}

				.icon_tw span {
					background-position: 0 0;
				}
				.icon_fb span {
					background-position: 0 -29px;
				}
				.icon_vk span {
					background-position: 0 -58px;
				}

				&.active {
					background: #ffffff;
					border-bottom: 0 none;
					position: relative;
					bottom: -1px;
					span {
						width: auto;
						padding-left: 34px;
					}
					a {
						color: #2b587a;
					}
				}
				&.active, &:hover {
					span {
						width: auto;
						padding-left: 34px;
					}
					.icon_tw span {
						background-position: 0 -87px;
					}
					.icon_fb span {
						background-position: 0 -116px;
					}
					.icon_vk span {
						background-position: 0 -145px;
					}
				}
			}
		}
		.tab_content {
			@include box-shadow(0 2px 3px -1px rgba(91, 89, 133, .14));
			@include border-radius(0 5px 5px 5px);
			border: 1px solid #f1f1f5;
			width: 327px;
			padding: 15px;
		}
	}
}

.post_layout {
	.content {
		.post_box {width: 700px;}
		.post_info { padding: 13px 125px 16px 16px; position: relative;
			.pagination {position: absolute; top: 26px; right: 16px;}
		}
		.photo_frame {float: left;}
		.post_share, .title, .poster {margin-left: 85px;}
		.post_share {padding-top: 2px;}
		.post_nav {
			@include border-radius(0);
			.first_item, .last_item {
				@include border-radius(0);
				& a {
					@include border-radius(0);
				}
			}
			.item_wrapper {padding: 0; background-repeat: repeat-x;}
			.like_box, .repost_box, .complain_box { padding: 0 1px; margin-right: 0; }

			.item_adds {
              background: asset_url("post-navbar-bg.png", image) repeat-x 0 -50px;
				padding-bottom: 0;
				float: left;
				overflow: hidden;
				height: 49px;
				.counter {
					margin-right: 5px;
				}
				.navbar {
					background: asset_url("post-navbar-bg.png", image) repeat-x 0 0;
					border-bottom: 1px solid #a2a2a2;
					color: #979ba7;
					font-weight: bold;
					font-size: 13px;
					height: 49px;
					padding: 0 15px;
					display: table-cell;
					vertical-align: middle;
					position: relative;
					.name {
						@include text-shadow(0 1px rgba(255, 255, 255, .75));
					}
				}
			}
			.like_box .item, .repost_box .item {
				&:after {
					$width: 7px;
					@include border-arrow($width, #f2f3f5);
					position: absolute;
					content: '';
					top: 50%;
					right: -1px;
					margin-top: -#{$width};
				}
				&:before {
					$width: 8px;
					@include border-arrow($width, #7a7a7a);
					position: absolute;
					content: '';
					top: 50%;
					right: -1px;
					margin-top: -#{$width};
				}
			}
			.active .item:before{
				@include border-arrow(8px, #e87c18);
			}

		}
	}
	.tags_block {
		padding: 15px;
		border-bottom: 1px solid #ededf0;
	}
	.comments_block {
		padding: 15px;
	}
	.vertical_carousel {
		padding: 10px;
		background-color: rgba(201, 199, 207, .15);
		@include border-radius(5px);
		@include box-shadow(1px 1px rgba(255, 255, 255, .79), inset 1px 1px 1px rgba(55, 52, 67, .16));
		.title {
			color: #444444;
			font-size: 18px;
			border-bottom: 1px solid rgba(220, 219, 222, .9);
			text-align: center;
			padding: 8px 0 14px;
			margin-bottom: 10px;
			@include box-shadow(0 1px rgba(255, 255, 255, .73));
			@include text-shadow(1px 1px #fff);
		}
		.carousel_wrapper {
			overflow: hidden;
			width: 100%;
			.post_card {
				float: none;
				margin-bottom: 10px;
				.post_object {
					width: 218px;
					overflow: hidden;
				}
			}
		}

		.pagination {
			.pn_item {
				width: 100%;
				&:after, &:before {
					width: 0;
				}
				&.top {
					margin-bottom: 10px;
				}
			}
		}
	}
}

.profile_layout {
	position: relative;
	.modal_registration {
		width: auto;
		.reg_social {
			width: auto;
			text-align: left;
			margin-top: 0;
		}
	}
	.topics_block {
		padding-right: 265px;
		margin-bottom: 26px;
	}

	.form-horizontal {
		.control-group {
			margin-bottom: 14px;
			.controls {
				min-height: 37px;
				.help-inline {
					font-size: 14px;
				}
			}
		}
		input[type="text"], input[type="email"], input[type="password"], textarea {
			width: 440px;
			max-width: 440px;
			padding-left: 18px;
		}
		textarea {
			padding: 10px 18px 10px 10px
		}
		.save {
			@include btn-orange(45px);
			padding: 0 20px;
		}
		.top_padding {
			padding-top: 12px;
		}
		.radio input[type="radio"], .checkbox input[type="checkbox"] {
			margin-top: 1px;
		}

  }
  .photo_frame {
    height: 110px;
    width: 110px;
    float: left;
    margin-right: 15px;
    .photo_box, .photo_box img {
      height: 100px;
      width: 100px;
    }
  }
  .settings {
    overflow: hidden;
    padding-top: 7px;
    width: 343px;
    .nav {
      padding-bottom: 8px;
    }
    .btn-file {
      @include btn-violet(34px);
    }
    .delete_photo {
      color: #5b5985;
      font-size: 14px;
      line-height: 34px;
      margin-left: 15px;
      padding: 5px 8px;
      &:hover {
        text-decoration: underline;
      }
    }
    .text {
      color: #aaaaaa;
      line-height: 18px;
      font-size: 12px;
    }
  }
  .divider {
    border-top: 1px solid #EDEDF0;
    margin: 25px 0 23px;
  }
  .dd-container {
    @include ddSlick_width(470px);
  }

  .control-row {
    .url {
      display: inline-block;
    }
    span.help-inline {
      font-size: 14px;
      padding: 0 0 15px 255px;
      margin-top: -14px
    }
    .help-inline {
      padding-right: 7px;
    }
  }
  input {
    &.url {
      background: asset_url("icon_link.png", image) no-repeat 10px center;
      padding-left: 28px;
      width: 236px;
    }
  }
  .btn-file {
    text-align: center;
    @include btn-violet(47px);
    width: 112px;
    padding: 3px 18px;
  }


}

.feed_layout {
	.feed_top {
		@include inline-block();
		width: 100%;
		padding-bottom: 16px;
	}
	.upload_block {
		.photo_frame {
			margin-right: 10px;
			float: left;
		}
		.post_frame {
			display: block;
			margin-left: 80px;
			position: relative;
			.upload_intro {
				.intro_title {
					color: #444444;
					font-weight: bold;
					font-size: 14px;
					padding-right: 170px;
					line-height: 18px;
					display: table-cell;
					vertical-align: middle;
					height: 55px;
					min-height: 55px;
				}
				.upload_file {
					@include btn-upload(45px);
					padding: 0 20px;
					position: absolute;
					right: 15px;
					top: 50%;
					margin-top: -23px;
					&:hover {
						text-decoration: none;
					}
				}
			}
			.post_box {
				width: auto;
				min-height: 80px;
				float: none;
			}
		}
		.circle_content_obj {
			background: asset_url("follow-icons.png", image) no-repeat -106px -35px;
			border: 0 none;
			height: 30px;
			width: 30px;
		}
		.tabs_box {
			padding: 15px;
			.intro_tab {
				float: left;
				width: 190px;
				padding-right: 10px;
				color: #444444;
				line-height: 18px;
				font-weight: bold;
				padding-top: 14px;
				font-size: 14px;
			}
			.nav_tabs {
				float: right;
				a {
					width: 88px;
					height: 48px;
					span {
						height: 28px;
						width: 28px;
						margin: 10px 30px 0 30px;
					}
					&.image_tab span {
						background: asset_url("icons_object_28.png", image) no-repeat 0 -28px;
					}
					&.video_tab span {
						background: asset_url("icons_object_28.png", image) no-repeat -28px -28px;
					}
					&.text_tab span {
						background: asset_url("icons_object_28.png", image) no-repeat -56px -28px;
					}
				}
				.active .image_tab span {
					background: asset_url("icons_object_28.png", image) no-repeat 0 0;
				}
				.active .video_tab span {
					background: asset_url("icons_object_28.png", image) no-repeat -28px 0;
				}
				.active .text_tab span {
					background: asset_url("icons_object_28.png", image) no-repeat -56px 0;
				}
			}
			.tab_content {
				padding-top: 30px;
			}
			.upload_file {
				@include btn-upload(44px);
			}
		}
	}
	.default_wall {
		margin: 40px 0;
		background: asset_url("logo_default_wall.png", image) no-repeat top center;
		min-height: 160px;
		width: 100%;
	}
	.sticky_profile {
		.photo_frame {
			width: 90px;
			height: 90px;
			float: left;
			.photo_box, .photo_box img {
				width: 80px;
				height: 80px;
			}
			&:hover{cursor: default;}
		}
		.user_info {
			@include inline-block();
			width: 100%;
			.info_box {
				margin-left: 100px;
				padding-top: 5px;
			}
			.user {
				font-weight: bold;
				font-size: 19px;
				line-height: 24px;
				margin-bottom: 8px;
				padding-right: 20px;
				position: relative;
				@include inline-block;
				a {
					color: #444444;
					@include sassy-hover();
					&:hover {
						color: #878787;
					}
				}
				.user_status {
					position: absolute;
					right: 0;
					top: 0;
					height: 20px;
					width: 18px;

					&.online {
						background: asset_url("feed_icons.png", image) no-repeat -47px -70px;
					}
					&.offline {
						background: asset_url("feed_icons.png", image) no-repeat -47px -91px;
					}
				}
			}
			.geo {
				background: asset_url("icon_geo.png", image) no-repeat 0 0;
				line-height: 16px;
				font-size: 13px;
				padding-left: 16px;
				margin-bottom: 10px;
				color: #777777;
				a {
					color: #777777;
					&:hover {
						text-decoration: underline;
					}
				}
			}
			.user_social {
				li {
					@include inline-block;
					padding-right: 3px;
					a {
						@include bg("feed_icons.png", no-repeat, 0 -142px);
						display: block;
						height: 25px;
						width: 24px;
					}
				}
				.soc1 a {
					background-position: 0 -113px;
					&:hover {
						background-position: 0 -142px;
					}
				}
				.soc2 a {
					background-position: -27px -113px;
					&:hover {
						background-position: -27px -142px;
					}
				}
				.soc3 a {
					background-position: 0 -169px;
					&:hover {
						background-position: 0 -198px;
					}
				}
				.soc4 a {
					background-position: -27px -169px;
					&:hover {
						background-position: -27px -198px;
					}
				}
			}
		}
		.user_follow {
			@include border-radius(6px);
			@include inline-block();
			margin: 20px 0;
			width: 100%;
			background: #5b5985;
			a {
				color: #f2f6f9;
				display: block;
				float: left;
				width: 50%;
				font-size: 13px;
				text-align: center;
				padding: 11px 0;
				strong {
					display: block;
					font-size: 18px;
				}
				@include sassy-hover($time: 400ms);
				&:hover {
					background: #34334c;
				}
			}
			.following {
				@include border-radius(6px 0 0 6px);
			}
			.followers {
				@include border-radius(0 6px 6px 0);
				position: relative;
				&:before {
					background: #fafafa;
					position: absolute;
					width: 1px;
					height: 100%;
					left: 0;
					top: 0;
					content: '';
				}
			}
		}
	}
}

.post_layout {
	.post_box {
		.post_info {
			padding: 13px 200px 16px 16px;
			width: 484px;
			@include inline-block();
			position: relative;
		}
		.btn-follow {
			position: absolute;
			top: 18px;
			right: 16px;
			@include border-radius(2px 6px 6px 2px);
			@include inline-block();
			background-color: #fff;
			border: solid 1px #ccc;
			padding-left: 15px;
			@include btn-follow();
			position: absolute;
			top: 20px;
			right: 10px;
		}
		.follow_box {


		}
	}
}

.vertical_carousel {
	padding: 10px;
	background-color: rgba(201, 199, 207, .15);
	@include border-radius(5px);
	@include box-shadow(1px 1px rgba(255, 255, 255, .79), inset 1px 1px 1px rgba(55, 52, 67, .16));
	.title {
		color: #444444;
		font-weight: bold;
		font-size: 18px;
		border-bottom: 1px solid rgba(220, 219, 222, .9);
		text-align: center;
		padding: 8px 0 14px;
		margin-bottom: 10px;
		@include box-shadow(0 1px rgba(255, 255, 255, .73));
		@include text-shadow(1px 1px #fff);
	}
	.show_more {
		@include btn-orange(45px);
		padding: 0;
		text-align: center;
		display: block;
		width: 100%;
		@include icon-x25();
	}
}

.following_list {
	.topic {
		line-height: 28px;
		font-weight: normal;
		a {
			color: #444444;
		}
		a:hover {
			text-decoration: underline;
		}
		.in_rating {
			float: left;
		}
		.show_all {
			float: right;
		}
	}
	.text {
		table {
			width: 100%;
			border-collapse: collapse;
		}
		td {
			vertical-align: middle;
			padding: 6px 3px;
			text-align: left;
			&.follow_cell {
				width: 30px;
			}
			&.number_cell {
				width: 20px;
				text-align: right;
				padding: 0 5px;
				font-weight: bold;
				color: #5b5985;
			}
			&.avatar_cell {
				width: 36px;
			}
		}
		.user_name {
			color: #444444;
			font-size: 14px;
			line-height: 16px;
			font-weight: bold;
			a {
				color: #444444;
				@include sassy-hover();
			}
			a:hover {
				color: #777777;
			}
		}
		.user_stats {
			color: #777777;
			font-size: 12px;
			line-height: 16px;
			padding-top: 4px;
			a {
				color: #777777;
				padding-left: 17px;
				@include sassy-hover();
				&:hover {
					color: #3D3C3C;
				}
			}
			.downloads {
				background: asset_url("icon_download.png", image) no-repeat 0 0;
				float: left;
				padding: 0 4px 0 18px;
			}
			.subscribers {
				background: asset_url("icon_subscribers.png", image) no-repeat 0 0;
				float: left;
				padding: 0 4px 0 18px;
			}
		}
		.follow_cell {
			vertical-align: middle;
			padding-right: 10px;
		}
		a.btn-follow {
			display: inline-block;
			height: 32px;
			width: 32px;
			opacity: .3;
			background: {
				image: asset_url("follow-icons.png", image);
				repeat: no-repeat;
			}
			&.follow {
				background-position: -35px -35px;
				&:hover {
					background-position: -35px 0;
				}
			}
			&.unfollow {
				background-position: -70px -105px;
				&:hover {
					background-position: -70px -70px;
				}
			}
			&:hover {
				opacity: 1
			}
		}
		.photo_frame {
			width: 36px;
			height: 36px;
			.photo_box {
				background-color: #fff;
				border: solid 3px #5b5985;
				@include box-shadow(0 1px 3px rgba(91, 89, 133, .25), inset 0 0 8px rgba(0, 0, 0, .15));
				height: 30px;
				width: 30px;
				img {
					height: 30px;
					width: 30px;
				}
			}
		}
	}
	.even {
		background: none;
	}
	.link_to{
		float: right;
		display: inline-block;
		color: #777;
		margin: 10px 0;
		font-size: 12px;
		text-decoration: underline;
		&:after{clear: both;}
		&:hover{text-decoration: none;}
	}
}

.main_layout .following_list .topic {line-height: 28px;}

.sidebar .following_list .self 	.follow_cell {white-space: nowrap;}

.rating_layout {
	.topics_block {
		border-bottom: 0 none;
		.title_page {
			margin-right: 250px;
			overflow: hidden;
		}
	}
	.filter_time {padding-left: 0; float: right;}

	.table-rating {
		width: 100%;
		border-collapse: 0;
		color: #897f93;
		font-size: 13px;
		text-align: center;
		th {
			color: #b4b4b4;
			font-size: 11px;
			border: 1px solid #ededf0;
			padding: 15px 0;
			background: none;
			.icon {
				background: none;
				padding: 5px 0 0 25px;
				margin-right: 5px;
			}
			a {
				color: #b4b4b4
			}
			&.active a {
				color: #5b5985;
				font-weight: bold;
			}
			&:first-child, &:last-child {
				border-right: none;
				border-left: none;
			}
			a:hover {
				color: #5b5985;
				.icon {
					background: asset_url("icons-sprite-x25.png", image) no-repeat -25px -25px;
				}
			}
			.asc {
				.icon {
					background: asset_url("icons-sprite-x25.png", image) no-repeat -25px -25px;
				}
				&:hover .icon {
					background: asset_url("icons-sprite-x25.png", image) no-repeat 0 -25px;
				}
			}
			.desc {
				.icon {
					background: asset_url("icons-sprite-x25.png", image) no-repeat 0 -25px;
				}
				&:hover .icon {
					background: asset_url("icons-sprite-x25.png", image) no-repeat -25px -25px;
				}
			}

		}
		td {
			padding: 15px 10px;
			border: 1px solid #ededf0;
			vertical-align: middle;
			&:first-child, &:last-child {
				border-right: none;
				border-left: none;
			}
            a {
              color: #5b5985;
            }
			&.name {
				text-align: left;
				padding-left: 20px;
			}
		}
		.photo_frame {
			vertical-align: middle;
			margin: 0 6px 0 10px;
			width: 36px;
			height: 36px;
			.photo_box {
				background-color: #fff;
				border: solid 3px #5b5985;
				height: 30px;
				width: 30px;
				img {
					height: 30px;
					width: 30px;
				}
			}
		}
		.first-three {
			.name {
				font-weight: bold;
				a {
					color: #5b5985;
				}
			}
			.photo_frame {
				width: 70px;
				height: 70px;
				.photo_box {
					height: 60px;
					width: 60px;
					img {
						height: 60px;
						width: 60px;
					}
				}
			}
		}

		a.btn-follow {
			display: inline-block;
			height: 32px;
			width: 32px;
			opacity: .3;
			background: {
				image: asset_url("follow-icons.png", image);
				repeat: no-repeat;
			}
			&.follow {
				background-position: -35px -35px;
				&:hover {
					background-position: -35px 0;
				}
			}
			&.unfollow {
				background-position: -70px -105px;
				&:hover {
					background-position: -70px -70px;
				}
			}
			&:hover {
				opacity: 1
			}

		}
		.active {
			font-weight: bold;
		}
	}
}

.post_frame{
  position: relative;
  &:hover{
    a {
      &.btn-fun-delete{
        background: asset_url("btn-fun-icons.png", image) no-repeat -22px 0;
        height: 21px;
        width: 21px;
        position: absolute;
        top: -8px;
        right: -8px;
        z-index: 1001;
        &:hover{
          background: asset_url("btn-fun-icons.png", image) no-repeat 0 0;
          cursor: pointer;
        }
      }
      &.btn-fun-edit{
        background: asset_url("btn-fun-icons.png", image) no-repeat -22px -22px;
        height: 21px;
        width: 21px;
        position: absolute;
        top: -8px;
        right: -8px;
        z-index: 1001;
        &:hover{
          background: asset_url("btn-fun-icons.png", image) no-repeat 0 -22px;
          cursor: pointer;
        }
      }
    }

  }
  .list_item {
    .post_object {
      p {
        line-height: 23px;
        font-size: 14px;
      }
    }
  }
}

#back-to-top {
	position: fixed;
	right: 20px;
	bottom: 20px;
	z-index: 9999;
	width: 45px;
	height: 45px;
	display: block;
	background: #222;
	background: rgba(0, 0, 0, 0.75);
	font-size: 16px;
	text-align: center;
	line-height: 45px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	text-align: center;
	vertical-align: middle;
	i{
		background: asset_url("icon-goup.png", image) no-repeat 0 0;
		height: 15px;
		width: 28px;
		display: inline-block;
	}
	&:hover {
		text-decoration: none;
		background-color: #F90;
		background: rgba(255, 153, 0, 0.75);
	}
}



/* Small devices (tablets, 768px and up) */
@media only screen and (device-width: 768px) {
	.tooltipster-base{display: none;}
}

@media only screen and (max-device-width: 1024px) and (orientation:portrait) {
	.landscape {display: none;}
}
@media only screen and (max-device-width: 1024px)
and (orientation:landscape) {
	.portrait {display: none;}
}

.report_form{
  .modal_body{
    .tabs_box{
      .tab_content{
        padding-top: 10px;
      }
    }
  }
}
.post_wall .post_frame .post_object img {
  max-width: 500px;
}

.tag_search {
  @include border-radius(5px);
  @include box-shadow(0 1px 3px 0 rgba(91, 89, 133, .25));
  background: #FFF;
  position: relative;
  margin-bottom: 20px;
  padding: 15px;
  > h2 {
    color: #616161;
    font-size: 22px;
    margin-bottom: 10px;
    text-shadow: 1px 1px #FFF;
    text-align: left;
  }
  .search_block_wrapper {
    width: $page_width - 30;
    margin: 0 auto;
    position: relative;
    .search_block {
      @include inline-block();
    }
    input {
      margin-bottom: 0;
      height: auto;
    }
    .controls {
      @include inline-block();
      position: relative;
      float: left;
      margin-right: 10px;
      @include border-radius(6px);
      color: #777777;
      border: 1px solid #eee;
      @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
      $transition: border linear .2s, box-shadow linear .2s;
      @include transition($transition);

      .main_search_by_tags {
        @include border-radius(4px);
        background: #fff;
        width: 756px;
        color: #444444;
        font-size: 14px;
        font-family: $baseFontFamily;
        padding: 0 30px 0 36px;
        line-height: 18px;
        min-height: 40px;
        &:focus {
          background-position: left -148px;
          outline: none;
        }
        input {
          height: 30px;
          line-height: 24px;
        }
        .ui-helper-hidden-accessible {
          display: none;
        }
        .tagit-choice {
          margin-top: 7px;
          background: #FDBD5B;
          color: #fff;
          font-weight: bold;
          @include text-shadow(0 1px 1px rgba(0, 0, 0, 0.6));
          border: 1px solid #F5AD3F;
          &.selected {
            border: 1px solid #fd4317;
            background: #fd4317;
          }
        }
        .tagit-input {
          @include box-shadow(none);
        }
      }

      .icon-search {
        background: asset_url('header-icons.png', image) no-repeat left -150px;
        position: absolute;
        z-index: 10;
        height: 30px;
        width: 30px;
        left: 3px;
        top: 5px;
      }

      .icon-close {
        background: {
          image: asset_url('header-icons.png', image);
          repeat: no-repeat;
          position: left -418px;
        }
        position: absolute;
        z-index: 10;
        height: 30px;
        width: 30px;
        right: 10px;
        top: 3px;
        &:hover {
          background-position: left -449px;
          cursor: pointer;
        }
      }
    }

    .btn {
      @include btn-violet(40px);
      float: right;
    }
  }
}

.tags {
  margin-right: 5px;
}
.small {
  color: orangered;
  font-size: 12px;
}
.middle{
  color: #b22222;
  font-size: 16px;
}
.big{
  color: indianred;
  font-size: 20px;
}
.biggest{
  color: darkred;
  font-size: 26px;
}

.info_list{
  color: #474747;
  font-size: 13px;
  .info_list_title{
    color: #000000;
    font: {
      weight: bold;
      size: 18px;
    }

    .gray{
      color: #cacaca;
    }
  }
  .info_action{
    color: #8e8da9;
    display: inline-block;
    margin-top: 7px;
    &.answer{
      padding-left: 20px;
      background: {
        image: asset_url('chat.png', image);
        repeat: no-repeat;
        position: 0 50%;
      }
    }
    &:hover{ text-decoration: underline; }
  }
  .info_muted{
    color: #aaaaaa;
  }
  .info_element{
    border-top: 1px solid #e2e2e2;
    padding-top: 20px;
    margin-top: 20px;
    position: relative;
    .info_body{ margin-left: 90px; }
    .info_title{
      color: #6d6b93;
      &:hover{ text-decoration: underline; }
    }
    .info_muted{ margin-top: 5px; }
    .info_content{ margin-top: 15px; }
    .info_action{ display: inline-block; margin-top: 7px; }
    .btn-close-sm {
      display: none;
      position: absolute;
      top: -10px;
      right: -10px;
      z-index: 1001;
    }
    &:hover {
      > .btn-close-sm { display: block}
    }
  }

}

.btn-action{
  height: 32px;
  width: 32px;
  background: {
    image: asset_url('follow-icons.png', image);
    repeat: no-repeat;
  }
  &.hoverable{
    opacity: .3;
    &:hover { opacity: 1 }
  }
  &.plus{
    background-position: -35px 0;
    &.orange{
      background-position: -35px -70px;
    }
  }
  &.minus{
    background-position: -70px 0;
    &.orange{
      background-position: -70px -70px;
    }
  }
}

.voting{
  color: #5b5985;
  font-size: 16px;
  line-height: 30px;
  position: relative;
  min-width: 40px;
  padding: 0 35px;
  text-align: center;
  &.red{
    color: #d2573a;
  }
  .btn-action {
    position: absolute;
    &.plus { left: 0 }
    &.minus { right: 0 }
  }
}