<p>Здравствуйте, <%= @resource.login %>!</p>

<p>Вы заказали смену пароля на сайте BitFun.ru, сделать это можно, перейдя по ссылке ниже.</p>

<p><%= link_to 'Изменить пароль', edit_user_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Если Вы думаете, что это письмо пришло к Вам по ошибке, то просто удалите его.</p>